bin/*
java/*
asa-code-1.0.1/*
*.o
tests/*
legacy/*
.DS_Store
.tags*
optparse.bash
rng
__pycache__/*
*.pyc
*/WIP/*
pending.data
backlog.data
completed.data
undo.data
sync_hook.log
.netrwhist
.atom/*
.vscode/*
awk/awk-libs
bash/dotfiles/.atom/*
bash/dotfiles/.git_template/*
bash/dotfiles/.ssh/*
c++/*
lattice_params_old.db
octave/Point-Set Registration/*
python_modules/*.c
python_modules/*.so
rust/*
src/find_grains/*
src/standalone/*
src/tests/*
bash/dotfiles/.atom/*
