[core]
  autocrlf = input
  safecrlf = true
  editor = atom --wait
[user]
  name = Jarin French
  email = jarinf@vt.edu
[color]
  ui = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short --perl-regexp --author='^((?!moosebuild).*$)'
[push]
  default = simple
